.icon-toolbar {
  fill: #808080;
  fill-opacity: .9;
  filter: url('#filter-effects-toolbar');
 }

.icon-toolbar.notification {
  fill: #0080ff;
  fill-opacity: 1;
 }

 .active .icon-toolbar {
   fill: ButtonText;
 }

.icon-placeholder-background {
  fill: url('#gradient-radial-placeholder');
}

.icon-placeholder-border {
  fill: none;
  stroke: #002132;
  stoke-width: 1;
  stroke-opacity: .2;
}
